<settings>
        <servers>
            <server>
                <id>jfrog-release</id>
                <username>${env.JFROG_USERNAME}</username>
                <password>${env.JFROG_PASSWORD}</password>
            </server>
        </servers>
    </settings>


    <profiles>
        <profile>
            <id>jfrog</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>jfrog</activeProfile>
    </activeProfiles>
</settings>
