name: Feature Branch Build

on:
  push:
    branches:
      - feature/**

jobs:
  feature-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
      - run: mvn clean install
      - run: docker build -t ${{ secrets.HARBOR_URL }}/todo-app:${{ github.sha }} .