name: Build & Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1 — Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v3

      # Step 2 — Setup Java
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 17

      # Step 3 — Build JAR
      - name: Build with Maven
        run: mvn clean install -DskipTests

      # Step 4 — Deploy JAR to JFrog (Maven)
      - name: Deploy JAR to JFrog (Maven)
        run: mvn deploy -s .github/config/dev/settings.xml -DskipTests

      # Step 5 — Login to JFrog Docker Registry
      - name: Login to JFrog Docker Registry
        run: echo "${{ secrets.JFROG_PASSWORD }}" | docker login trialvs67i0.jfrog.io -u "${{ secrets.JFROG_USERNAME }}" --password-stdin

      # Step 6 — Build Docker Image
      - name: Build Docker Image
        run: docker build -t trialvs67i0.jfrog.io/todo-docker/todo-app:${{ github.sha }} .

      # Step 7 — Push Docker Image to JFrog
      - name: Push Docker Image
        run: docker push trialvs67i0.jfrog.io/todo-docker/todo-app:${{ github.sha }}
