name: Main Branch CI/CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
      - run: mvn clean install
      - run: mvn sonar:sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - run: docker build -t ${{ secrets.HARBOR_URL }}/todo-app:latest .
      - run: echo ${{ secrets.HARBOR_PASSWORD }} | docker login ${{ secrets.HARBOR_URL }} -u ${{ secrets.HARBOR_USERNAME }} --password-stdin
      - run: docker push ${{ secrets.HARBOR_URL }}/todo-app:latest
      - run: mvn deploy -s .github/config/dev/settings.xml -DskipTests